}
body {
    text-align: center;
    padding-top: 50px;
      background:#cdd2c5;

}
.breadcrumb {
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}
.breadcrumb a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    color: white;
    font-size: 20px;
    line-height: 60px;
    width: 316px;
    position: relative;
    background: #282d61;
}
 .breadcrumb a:last-child {
    width: 342px;
}
.breadcrumb a.active,
.breadcrumb a:hover {
    background: #222753;
    background: linear-gradient(#13162e, #0d0f20);
    transition: all 1s;
}
.breadcrumb a.active:after,
.breadcrumb a:hover:after {
    background: #222753;
    background: linear-gradient(#13162e, #0d0f20);
    transition: all 1s;
}
.breadcrumb a:after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 60px;
    height: 60px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #282d61;
    box-shadow: 3px -3px 0 2px rgba(255, 255, 255, 0.8);
    border-radius: 0 5px 0 50px;
}
.breadcrumb a:last-child:after {
    content: none;
}
